<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Music Chord</title>
    <link th:href="@{/css/contentedit.css}" rel="stylesheet">
</head>
<body>
	<div class="body">
		<div class="container">
			<div class="header">
				<div class="header_inner">
                    <p>My MUSIC CHORD</p>
                </div>
			</div>
			<div class="containerbody">
				<div class="edit">
				    <h2>編集フォーム</h2>
				    <form method="post" action="#" th:action="@{'/view/edit/' + ${chordForm.id}}" th:object="${chordForm}">
				        <label for="chord">コード</label>
				        <input type="text" id="chord" name="chord" th:value="${chordForm.chord}"><br>
				        <input type="submit" value="送信">
				    </form>
				    <div><a href="#" th:href="@{/view}">トップページ</a></div>				
				</div>
			</div>
			<footer class="footer"> 
        		<div class="footercon">@kosuke masuda</div>
    		</footer>
		</div>
	</div>
</body>
</html>